@font-face {
  font-family: "FreestyleScript";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/FreestyleScript/FreestyleScript.ttf) format("truetype");
  src: url(../fonts/FreestyleScript/FreestyleScript.eot) format("embedded-opentype");
  src: url(../fonts/FreestyleScript/FreestyleScript.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/FreestyleScript/FreestyleScript.woff) format("woff"); }

@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular/Roboto-Regular.ttf) format("truetype");
  src: url(../fonts/Roboto-Regular/Roboto-Regular.eot) format("embedded-opentype");
  src: url(../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Roboto-Regular/Roboto-Regular.woff) format("woff"); }

@font-face {
  font-family: "OpenSansRegular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular/OpenSans-Regular.ttf) format("truetype");
  src: url(../fonts/OpenSans-Regular/OpenSans-Regular.eot) format("embedded-opentype");
  src: url(../fonts/OpenSans-Regular/OpenSans-Regular.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/OpenSans-Regular/OpenSans-Regular.woff) format("woff"); }

@font-face {
  font-family: "OpenSansBold";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Bold/OpenSans-Bold.ttf) format("truetype");
  src: url(../fonts/OpenSans-Bold/OpenSans-Bold.eot) format("embedded-opentype");
  src: url(../fonts/OpenSans-Bold/OpenSans-Bold.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/OpenSans-Bold/OpenSans-Bold.woff) format("woff"); }

@font-face {
  font-family: "OpenSansItalic";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Italic/OpenSans-Italic.ttf) format("truetype");
  src: url(../fonts/OpenSans-Italic/OpenSans-Italic.eot) format("embedded-opentype");
  src: url(../fonts/OpenSans-Italic/OpenSans-Italic.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/OpenSans-Italic/OpenSans-Italic.woff) format("woff"); }

@font-face {
  font-family: "OpenSansSemibold";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf) format("truetype");
  src: url(../fonts/OpenSans-Semibold/OpenSans-Semibold.eot) format("embedded-opentype");
  src: url(../fonts/OpenSans-Semibold/OpenSans-Semibold.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/OpenSans-Semibold/OpenSans-Semibold.woff) format("woff"); }

body {
  font-size: 16px;
  font-family: "OpenSansRegular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  scrollbar-base-color: #aa8c67;
  scrollbar-arrow-color: #aa8c67; }
  body::-webkit-scrollbar {
    width: 17px; }
  body::-webkit-scrollbar-thumb {
    background-color: #aa8c67; }
    body::-webkit-scrollbar-thumb:hover {
      background-color: #8e7250; }
  body::-webkit-scrollbar-track-piece {
    background-color: transparent; }

h1, h2 {
  margin: 0; }

a {
  color: #000; }

ul {
  margin: 0; }
  ul li {
    list-style: none; }

button {
  cursor: pointer;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease; }
  button:focus {
    outline: none; }

input, textarea, select {
  background-color: #fff;
  border: transparent;
  -webkit-border-top-left-radius: 7px;
          border-top-left-radius: 7px;
  -webkit-border-bottom-left-radius: 5px;
          border-bottom-left-radius: 5px;
  outline: none;
  display: block;
  font-size: 17px;
  color: #b6b6b6;
  padding: 15px 0 15px 39px; }
  input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
    color: #b6b6b6; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #b6b6b6; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #b6b6b6;
    opacity: 1; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
    color: #b6b6b6; }
  input option, textarea option, select option {
    color: #b6b6b6; }

.default__title {
  margin-bottom: 67px; }
  .default__title h2 {
    text-align: center;
    font-size: 33px;
    color: #000;
    font-weight: 100;
    line-height: 36px; }

.custom-button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  padding: 16px 32px;
  font-size: 13px;
  background-color: #7dac3f;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
  font-family: "RobotoRegular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

.svg__wrap {
  width: 164px;
  height: 164px; }

.svg__outer {
  fill: #f0f0f0; }

.svg__inner {
  fill: #5b960c; }

.input_wrap {
  position: relative;
  display: block; }
  .input_wrap i {
    display: none;
    position: absolute;
    top: 15px;
    right: 16px;
    font-size: 14px;
    color: #35be70; }

.callback {
  position: relative; }

.s-call__success {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 10; }
  .s-call__success span {
    margin: auto; }
  .s-call__success ~ * {
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease; }
  .s-call__success.active ~ * {
    opacity: .5;
    -webkit-filter: blur(1px);
            filter: blur(1px); }

.hamburger {
  padding: 0; }

.hamburger--collapse .hamburger-inner {
  bottom: -4px; }

html.mm-blocking, html.mm-blocking body {
  overflow: inherit; }

.header {
  height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100vm; }
  .header:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1; }
  .header__video-bg {
    position: absolute;
    z-index: 0;
    display: block;
    margin: 0 auto;
    width: 100%; }
  .header__wrap {
    width: 100%;
    position: relative;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .header__nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 28px 0 31px 0; }
  .header__logo {
    font-size: 29px; }
    .header__logo a {
      color: #fff; }
  .header__menu {
    display: inline-block; }
    .header__menu li {
      display: inline-block;
      font-size: 13px; }
      .header__menu li a {
        -webkit-transition: color .3s ease;
        -o-transition: color .3s ease;
        transition: color .3s ease;
        color: #fff; }
      .header__menu li:hover a {
        color: #628731; }
    .header__menu li + li {
      margin-left: 37px; }
  .header .custom-button {
    margin-left: 66px; }
    .header .custom-button:hover {
      background-color: #628731; }
  .header__top-section {
    text-align: center;
    z-index: 2; }
  .header__info {
    padding: 0 29%; }
  .header__title {
    font-size: 40px;
    color: #fefefe;
    text-align: center;
    font-weight: 500;
    line-height: 1.2; }
  .header__description {
    margin: 15px 60px 0 60px;
    color: #fff;
    font-size: 15px; }
  .header__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 31px; }
    .header__form label {
      position: relative; }
      .header__form label:before {
        content: "\f041";
        font-family: FontAwesome;
        position: absolute;
        top: -webkit-calc(50% - 15px);
        top: calc(50% - 15px);
        left: 12px;
        color: #eeeeee;
        font-size: 23px; }
    .header__form input {
      width: 437px; }
    .header__form button {
      background-color: #aa8c67;
      color: #fff;
      border: none;
      -webkit-border-top-right-radius: 7px;
              border-top-right-radius: 7px;
      -webkit-border-bottom-right-radius: 7px;
              border-bottom-right-radius: 7px;
      padding: 0 72px;
      font-size: 14px; }
      .header__form button:hover {
        background-color: #8e7250; }

.hamburger {
  display: none; }

.advantages {
  background-color: #fff;
  padding: 65px 0 76px 0; }
  .advantages__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .advantages__item-name {
    margin-top: 14px;
    color: #000;
    font-size: 21px;
    font-weight: 700; }
  .advantages__item-description {
    text-align: center;
    margin-top: 5px;
    padding: 0 39px;
    line-height: 21px;
    color: #777777; }

.personal-plan {
  background-color: #f5f5f5;
  padding: 65px 0 90px 0; }
  .personal-plan__item {
    background-color: #fff;
    padding: 44px 50px 20px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .personal-plan__item path, .personal-plan__item polygon {
      fill: #aa8c67; }
  .personal-plan__name {
    margin-top: 15px;
    font-size: 22px;
    color: #000;
    line-height: 24px; }
  .personal-plan__info {
    margin-top: 13px;
    font-size: 16px;
    color: #7f7f7f;
    line-height: 21px; }
  .personal-plan__btn {
    margin-top: 66px;
    text-align: center; }
  .personal-plan .custom-button {
    margin: 0 auto;
    padding: 18px 71px;
    font-size: 15px; }
    .personal-plan .custom-button:hover {
      background-color: #628731; }

.reviews {
  background-color: #ffffff;
  padding: 56px 0 36px 0; }
  .reviews__autor {
    font-size: 16px;
    font-weight: 600;
    font-family: "RobotoRegular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
  .reviews__rating {
    padding-left: 0;
    color: #fac917; }
    .reviews__rating li {
      display: inline-block; }
  .reviews__text {
    color: #848484;
    font-size: 16px;
    margin-top: 11px; }
  .reviews .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 37px; }
  .reviews .owl-theme .owl-dots .owl-dot span {
    width: 9px;
    height: 9px; }
  .reviews .owl-theme .owl-dots .owl-dot.active span {
    background-color: #b0b0b0; }
  .reviews .owl-theme .owl-dots .owl-dot + .owl-dot {
    margin-left: 9px; }

.future {
  padding: 77px 0 110px 0;
  background-color: #f5f5f5; }
