extends ../base
block title
    | Index page

block main
    main
        section#advantages.advantages
            .container
                .row
                    .col-12
                        .default__title
                            h2 We will Find
                                br
                                | the Right Professional for You
                .row
                    .col-4
                        .advantages__item
                            svg(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd', xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape', version='1.1', viewbox='0 0 218.40213 219.27939', sodipodi:docname='time_ic.svg', inkscape:version='0.92.1 r15371' class="svg__wrap")
                                g(transform='translate(-0.13679037,-1.0833782)')
                                    path(class="svg__outer", d='m 102.31456,218.09917 c -5.340459,-2.83955 -6.133127,-2.93543 -9.534539,-1.15324 -4.83468,2.53315 -9.54467,1.27819 -14.297202,-3.80941 -3.373054,-3.61087 -4.340415,-3.94902 -9.030458,-3.15663 -6.321729,1.06804 -10.015778,-0.64941 -13.413312,-6.23621 -1.946022,-3.19998 -3.521232,-4.14904 -7.263449,-4.37624 -5.999763,-0.36427 -9.730947,-3.67875 -11.48838,-10.20536 -1.169157,-4.34192 -2.107383,-5.28015 -6.449304,-6.44931 -6.574959,-1.77044 -9.299436,-4.90701 -9.722803,-11.1934 -0.265089,-3.93621 -1.122785,-5.47769 -3.825517,-6.87532 -6.481983,-3.35197 -8.5776853,-8.43271 -6.493213,-15.74188 0.928402,-3.25543 0.470369,-4.29411 -3.3871339,-7.68104 -5.5566416,-4.8788 -6.78516179,-9.31536 -4.0461744,-14.61198 1.9511309,-3.77307 1.9097648,-4.28245 -0.6383763,-7.86099 -3.62778421,-5.09475 -3.43871195,-10.59563 0.5500111,-16.00203 C 6.3149263,98.625344 6.4104024,98.038679 4.6080428,94.553299 1.5401416,88.620632 2.1731871,83.638359 6.5245897,79.469451 9.8404196,76.292684 10.284662,75.043796 9.6861385,70.581468 8.8404105,64.276096 11.40346,59.789566 17.230049,57.376114 c 3.253102,-1.347479 4.103284,-2.503776 4.103284,-5.5807 0,-7.575759 3.315882,-12.816737 9.229999,-14.588649 C 33.5535,36.310889 36,34.801103 36,33.851686 c 0,-6.461421 5.900956,-11.18502 13.972887,-11.18502 3.27836,0 4.736217,-0.699896 5.32555,-2.556717 0.446308,-1.406195 2.03029,-4.106195 3.519956,-6 2.272724,-2.8893 3.790814,-3.443282 9.435694,-3.443282 5.573396,0 7.508581,-0.6860565 11.282954,-4.0000004 5.278078,-4.634213 5.592314,-4.6835742 12.172451,-1.9120909 4.792811,2.0186807 5.182248,1.9667662 11.745328,-1.5657311 l 7.06964,-2.1054664 5.59702,1.7192186 c 5.81791,1.7870673 6.23643,3.0942327 9.64349,1.4458601 4.91137,-2.3761721 9.72042,-1.0813728 14.3363,3.8599444 3.29908,3.5316747 4.27546,3.8628697 9.10933,3.0899027 6.16961,-0.98656 11.2992,1.53544 13.65953,6.715804 1.02951,2.2595 2.85871,3.299993 6.70944,3.816485 6.60232,0.885557 10.04315,3.916665 11.78368,10.380543 1.0781,4.003706 2.14484,5.195123 5.26511,5.880449 6.91359,1.518481 10.70497,5.557533 10.70497,11.404281 0,4.359247 0.60995,5.517736 3.76378,7.148644 6.70409,3.466822 8.888,8.469764 6.83729,15.663086 -0.83133,2.916111 -0.30275,4.210124 2.99559,7.333333 5.71686,5.413326 6.78409,8.966803 4.40389,14.663415 -1.83659,4.395588 -1.78705,5.017149 0.67543,8.475386 3.43402,4.82264 3.37098,9.90641 -0.18475,14.89998 -2.50229,3.51415 -2.66171,4.59346 -1.33333,9.02719 2.36152,7.88204 1.84464,11.23908 -2.34915,15.25698 -3.31583,3.17677 -3.76008,4.42565 -3.16155,8.88798 0.84572,6.30538 -1.71733,10.7919 -7.54392,13.20535 -3.54881,1.46997 -4.10328,2.37416 -4.10328,6.6914 0,6.19279 -3.81224,11.30924 -9.93112,13.32865 -3.42065,1.12892 -4.77009,2.47806 -5.41485,5.41362 -1.17409,5.34562 -6.54327,9.27578 -12.67208,9.27578 -4.31724,0 -5.22143,0.55447 -6.6914,4.10328 -2.31304,5.5842 -6.71737,8.19016 -13.06731,7.73168 -4.3083,-0.31106 -6.12518,0.38804 -10.11704,3.89294 -5.69421,4.9996 -5.06221,4.89837 -12.94514,2.07322 -5.92456,-2.12329 -6.32589,-2.1055 -10,0.44311 -6.19484,4.29717 -8.04174,4.45193 -14.17983,1.18828 z m 17.6369,-5.60835 c 8.21554,-6.17573 8.21582,-6.17582 16.46545,-5.3098 4.53736,0.47632 10.50802,1.22207 13.26812,1.6572 6.23824,0.98346 8.06365,-0.43832 12.9568,-10.09178 5.1344,-10.12944 8.41688,-12.68114 19.83416,-15.41847 8.97598,-2.15201 9.9671,-2.72944 11.66666,-6.79707 C 195.1642,174.08601 196,168.10637 196,163.24282 c 0,-9.62696 0.25139,-10.02062 13.70512,-21.46238 6.03776,-5.13482 6.14668,-7.29992 0.96155,-19.11378 -2.2,-5.0125 -4,-9.8125 -4,-10.66666 0,-0.85417 1.8,-5.65417 4,-10.66667 5.41154,-12.329699 5.21466,-14.86095 -1.65943,-21.335874 -3.11269,-2.931934 -6.12151,-5.33079 -6.68627,-5.33079 -0.56476,0 -2.21577,-1.95 -3.66892,-4.333334 -2.00528,-3.288888 -2.64821,-6.743593 -2.66748,-14.333333 -0.014,-5.5 -0.46621,-10.660177 -1.00498,-11.467061 -1.55798,-2.333276 -6.24682,-4.403937 -13.48976,-5.957272 -9.05256,-1.941425 -12.88914,-5.297173 -17.7019,-15.483393 -5.08872,-10.770306 -7.4301,-11.852443 -19.55609,-9.038365 -10.9866,2.549665 -13.38969,1.975085 -22.86113,-5.4660981 C 111.61726,0.92506497 108.64591,0.95280777 98.201331,8.8041369 89.301016,15.494624 89.905581,15.415998 69.600088,12.523813 62.538647,11.518027 59.66172,13.720697 55.355728,23.429768 51.519781,32.078989 47.041492,35.529746 37.119432,37.481791 25.247648,39.817423 23.706899,41.577969 23.158571,53.434262 22.497765,67.7226 22.139669,68.522903 13.2995,75.468134 3.610438,83.080293 2.6063297,86.03782 6.6077132,95.178299 c 6.1571598,14.064981 6.1758238,14.351111 1.577166,24.178211 -6.0677365,12.96646 -5.7276176,15.12829 3.6834298,23.41223 4.32757,3.80928 8.52757,8.3729 9.333334,10.14135 0.805762,1.76847 1.465024,7.6436 1.465024,13.05587 0,8.98029 0.299585,10.07614 3.427173,12.5363 1.884945,1.4827 6.100847,3.09676 9.368669,3.5868 8.982574,1.34702 13.932739,5.39308 18.986219,15.51856 5.474189,10.96843 7.886569,12.0703 20.409769,9.3223 4.887218,-1.07242 10.293372,-1.58775 12.013676,-1.14519 1.720306,0.44256 6.423572,3.52204 10.451704,6.84329 9.385213,7.73824 12.173423,7.72134 22.627583,-0.1372 z m -26.073009,2.32372 c 2.29538,-0.90009 2.108853,-1.30866 -1.900942,-4.16389 -4.14994,-2.95501 -12.255801,-4.15013 -14.297874,-2.10807 -0.440694,0.4407 0.605693,2.2989 2.325304,4.12934 3.184758,3.39002 8.571077,4.22189 13.873512,2.14262 z m 44.973839,-1.45412 c 2.68638,-2.25273 2.85459,-2.83597 1.14771,-3.97958 -2.92957,-1.96283 -8.90367,-1.67151 -13.39955,0.6534 -4.72307,2.4424 -4.84066,3.0205 -0.93378,4.59088 4.96626,1.99618 9.8563,1.52716 13.18562,-1.2647 z M 52,196.53905 c 0,-2.28405 -4.850053,-8.49832 -7.616432,-9.75877 -5.608003,-2.55518 -7.170057,-1.93571 -5.591096,2.21728 2.124123,5.58686 5.22866,8.33577 9.414179,8.33577 2.086341,0 3.793349,-0.35743 3.793349,-0.79428 z m 123.12357,-0.68608 c 2.9416,-1.34029 6.20976,-6.15901 6.20976,-9.15597 0,-1.1069 -4.20446,-0.24472 -9.71598,1.99237 -1.31046,0.53191 -3.27586,2.6944 -4.36758,4.80553 -1.9291,3.73048 -1.89198,3.83843 1.31992,3.83843 1.81766,0 4.76691,-0.66616 6.55388,-1.48036 z M 17.679325,150.861 C 13.550788,145.33126 12,145.76756 12,152.45878 c 0,4.97003 0.636667,6.51727 3.666667,8.91082 l 3.666666,2.89648 0.427119,-5.02279 c 0.286412,-3.36809 -0.399187,-6.12952 -2.081127,-8.38229 z m 189.214365,5.83985 c 0.79462,-1.74399 1.02016,-4.86257 0.50122,-6.9302 l -0.94352,-3.75932 -4.55903,4.97475 c -3.09932,3.38194 -4.55903,6.2727 -4.55903,9.02857 v 4.05383 l 4.0578,-2.09838 c 2.2318,-1.1541 4.70795,-3.52526 5.50256,-5.26925 z M 9.2860861,109.77571 c 0.098346,-8.79295 -2.6287114,-10.870365 -5.9185126,-4.50859 -2.60947271,5.04616 -2.56910202,8.04257 0.16087,11.94015 l 2.1951101,3.13396 1.7576427,-3.17061 c 0.9667034,-1.74384 1.7789038,-5.07155 1.8048898,-7.39491 z m 205.7597639,6.3519 c 2.86679,-4.85309 2.89106,-8.00587 0.0924,-12.00155 l -2.19512,-3.13396 -1.75764,3.17061 C 208.54179,108.93166 209.00983,120 211.85517,120 c 0.49676,0 1.93258,-1.74258 3.19068,-3.87239 z m -8.37918,-47.409004 c 0,-4.401868 -0.75855,-6.654759 -2.91808,-8.666667 -4.14784,-3.8643 -5.08192,-3.416752 -5.08192,2.434915 0,4.994989 3.98972,12.179812 6.76344,12.179812 0.6801,0 1.23656,-2.676627 1.23656,-5.94806 z M 17.153716,70.191194 c 3.160352,-3.364042 5.494881,-12.857862 3.161748,-12.857862 -2.802788,0 -9.648797,7.790091 -9.648797,10.979391 0,5.810077 2.196077,6.446 6.487049,1.878471 z M 48.307221,31.055301 C 49.740765,29.757962 51.4792,27.63979 52.170411,26.348252 53.256629,24.318634 52.807615,24 48.861291,24 c -5.418906,0 -9.753168,3.280997 -10.935019,8.277709 -0.83382,3.525277 -0.751635,3.581656 3.460201,2.373717 2.372868,-0.680529 5.487206,-2.298786 6.920748,-3.596125 z m 130.992289,-0.0085 c -2.09443,-5.012679 -4.02332,-6.989164 -6.85712,-7.02631 -0.8567,-0.0112 -2.5067,-0.38461 -3.66667,-0.829736 -1.41557,-0.543245 -2.10905,-0.06099 -2.10905,1.466626 0,3.219034 8.51173,11.342651 11.88456,11.342651 2.73401,0 2.75629,-0.147433 0.74828,-4.953273 z M 92.596815,10.725055 96.526963,8.1343484 92.843348,6.7338408 C 87.691952,4.7752837 83.754249,4.9871594 80.296675,7.4089386 c -3.566014,2.4977331 -3.778087,4.1826144 -0.630008,5.0052934 5.064386,1.323464 9.174458,0.786529 12.930148,-1.689177 z m 48.736515,1.507363 c 0,-1.692594 -5.67818,-6.50227 -8.66666,-7.3410425 C 131.2,4.4797274 128.2,4.9158369 126,5.8605063 l -4,1.7175817 4.66667,2.872639 c 4.52992,2.788461 14.66666,4.019863 14.66666,1.781691 z', inkscape:connector-curvature='0', sodipodi:nodetypes='scscscscscsssccsssssssscssssscsssscscssscccssscccsccscccscsssscccssssscssccssssssssssssscsssssssscccscccsccsscsscsccsccsscsccccsscccsssccsccccscssssssssssssssscccssccscssssssscss')
                                    path(class="svg__inner", d='m 105.76729,141.99095 c -1.46667,-0.34487 -4.35005,-1.27999 -6.407507,-2.07807 -2.745733,-1.06502 -4.146743,-1.04513 -5.266673,0.0748 -2.19893,2.19894 -4.28219,1.88312 -2.41545,-0.36617 1.25318,-1.50999 0.61311,-3.14589 -3.17007,-8.10213 -2.60717,-3.41557 -4.76643,-6.61417 -4.79837,-7.108 -0.0319,-0.49383 -0.5589,-3.48906 -1.17104,-6.65606 -1.40108,-7.24885 0.34493,-15.36447 4.74551,-22.057564 2.4143,-3.67204 2.97429,-5.56022 1.95217,-6.58234 -1.02211,-1.02211 -2.3828,-0.5412 -4.74345,1.67652 l -3.3102,3.10977 -1.34112,-3.52743 c -2.57208,-6.76508 2.92717,-13.56971 9.56392,-11.83416 3.67072,0.95991 4.19962,2.87317 1.59107,5.75559 -1.7228,1.90367 -1.96654,3.01339 -0.89682,4.08311 1.06972,1.06972 3.05993,0.69878 7.32279,-1.36484 7.76587,-3.75939 18.25795,-3.75939 26.02381,0 4.26287,2.06362 6.25308,2.43456 7.3228,1.36484 1.06972,-1.06974 0.79756,-2.21085 -1.00137,-4.19865 -3.21132,-3.54847 -1.20087,-5.67399 4.82119,-5.09712 5.70206,0.54622 8.61581,5.56405 6.48513,11.16817 l -1.38791,3.65047 -3.3102,-3.10977 c -2.36065,-2.21771 -3.72133,-2.69863 -4.74345,-1.67651 -1.02211,1.02212 -0.46212,2.9103 1.95217,6.58234 4.40059,6.693094 6.1466,14.808714 4.74551,22.057554 -0.61213,3.16701 -1.13911,6.16224 -1.17104,6.65607 -0.0319,0.49383 -2.1912,3.69243 -4.79836,7.10799 -3.78318,4.95624 -4.42325,6.59215 -3.17008,8.10214 1.86675,2.24929 -0.21651,2.5651 -2.41545,0.36617 -1.12706,-1.12705 -2.50344,-1.14121 -5.26666,-0.0541 -4.77778,1.87958 -12.31013,2.86412 -15.74085,2.05744 z m 16.38645,-4.34769 c 13.34427,-6.84335 18.79798,-22.99201 12.42683,-36.79643 -7.49544,-16.240414 -29.3554,-20.480214 -42.63764,-8.269694 -10.77589,9.906404 -10.76156,30.657644 0.0279,40.440894 8.24427,7.4754 20.85645,9.40809 30.18288,4.62523 z m -7.05312,-18.79643 c -0.45322,-0.73333 -2.26752,-1.33333 -4.03177,-1.33333 -3.15965,0 -6.70575,-4.15137 -5.0017,-5.85542 0.47999,-0.47998 -2.06857,-3.85887 -5.66346,-7.50863 -3.59488,-3.64978 -5.93048,-6.635954 -5.19021,-6.635954 0.74027,0 3.689493,2.400006 6.55381,5.333334 3.042,3.1153 6.46209,5.33334 8.22369,5.33334 2.97377,0 6.4705,4.19469 4.84868,5.81651 -0.45859,0.45859 0.25552,2.03748 1.5869,3.50864 1.33138,1.47117 1.76311,2.67484 0.9594,2.67484 -0.80371,0 -1.83211,-0.6 -2.28534,-1.33333 z m -2.44777,-4.75629 c 1.11128,-2.89595 -1.70992,-5.61935 -3.72927,-3.6 -1.70671,1.70671 -0.6494,5.68962 1.51038,5.68962 0.77936,0 1.77786,-0.94033 2.21889,-2.08962 z m -3.55223,-18.065814 c 0,-2.89979 -1.78415,-3.01793 -8.66666,-0.57384 -2.62885,0.93354 -2.62996,0.91707 -0.0785,-1.16187 1.4235,-1.15987 4.5735,-2.10885 7,-2.10885 3.81706,0 4.41183,0.44937 4.41183,3.33333 0,1.83334 -0.6,3.33334 -1.33333,3.33334 -0.73334,0 -1.33334,-1.26994 -1.33334,-2.82211 z M 87.33928,86.012576 c 2.43541,-2.65884 4.42801,-5.05884 4.42801,-5.33333 0,-1.25295 -7.64055,-0.3252 -9.06667,1.10092 -1.68328,1.68329 -2.24899,9.06667 -0.69467,9.06667 0.49793,0 2.89793,-2.17542 5.33333,-4.83426 z m 52.42801,1.10092 c 0,-4.73791 -2.19543,-6.93333 -6.93333,-6.93333 -2.05334,0 -3.73334,0.20596 -3.73334,0.45769 0,0.98614 8.72584,10.19501 9.66667,10.20178 0.55,0.004 1,-1.6728 1,-3.72614 z', inkscape:connector-curvature='0')
                            span.advantages__item-name Save Time
                            p.advantages__item-description Tell us your funeral requirements are and we'll find you best quotes. :)



                    .col-4
                        .advantages__item
                            svg(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns='http://www.w3.org/2000/svg', xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd', xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape', version='1.1', viewbox='0 0 218.40213 218.82516', class="svg__wrap")
                                g(transform='translate(-0.13679036,-2.8709358)')
                                    path(class="svg__outer", d='m 102.31456,219.43251 c -5.340457,-2.83955 -6.133125,-2.93543 -9.534537,-1.15324 -4.83468,2.53315 -9.544671,1.27819 -14.297203,-3.80941 -3.373054,-3.61087 -4.340415,-3.94902 -9.030458,-3.15663 -6.321729,1.06804 -10.015778,-0.64941 -13.413312,-6.23621 -1.946023,-3.19998 -3.521232,-4.14904 -7.263449,-4.37624 -5.999763,-0.36427 -9.730947,-3.67875 -11.48838,-10.20536 -1.169158,-4.34192 -2.107383,-5.28015 -6.449305,-6.44931 -6.574958,-1.77044 -9.299436,-4.90701 -9.722802,-11.1934 -0.26509,-3.93621 -1.122786,-5.47769 -3.825518,-6.87532 -6.481982,-3.35197 -8.5776852,-8.43271 -6.493213,-15.74188 0.928402,-3.25543 0.47037,-4.29411 -3.3871338,-7.68104 -5.5566417,-4.8788 -6.78516188,-9.31536 -4.0461745,-14.61198 1.951131,-3.77307 1.9097648,-4.28246 -0.6383763,-7.86099 -3.62778423,-5.09475 -3.43871196,-10.59563 0.5500111,-16.00204 3.0402169,-4.12078 3.135693,-4.707445 1.3333334,-8.192825 C 1.5401416,89.953968 2.1731871,84.971695 6.5245898,80.802787 9.8404198,77.62602 10.284662,76.377132 9.6861387,71.914804 8.8404107,65.609432 11.403461,61.122901 17.23005,58.709449 c 3.253101,-1.347479 4.103284,-2.503776 4.103284,-5.5807 0,-7.575759 3.315881,-12.816738 9.229998,-14.58865 2.990169,-0.895876 5.436669,-2.405661 5.436669,-3.355078 C 36.000001,28.723599 41.900957,24 49.972887,24 c 3.27836,0 4.736218,-0.699896 5.325551,-2.556717 0.446308,-1.406195 2.03029,-4.106195 3.519956,-6 C 61.091118,12.553983 62.609208,12 68.254088,12 73.827484,12 75.762669,11.313944 79.537043,8.0000001 84.81512,3.365787 85.129356,3.3164258 91.709493,6.0879092 96.502304,8.10659 96.891741,8.0546755 103.45482,4.5221781 l 7.05514,-1.6512423 5.61153,1.2649944 c 5.93719,1.3384077 6.23642,3.0942328 9.64348,1.4458602 4.91137,-2.3761722 9.72042,-1.0813729 14.3363,3.8599445 3.29908,3.5316751 4.27547,3.8628701 9.10933,3.0899031 6.16962,-0.98656 11.2992,1.53544 13.65954,6.715804 1.0295,2.2595 2.8587,3.299993 6.70944,3.816485 6.60232,0.885557 10.04314,3.916665 11.78368,10.380543 1.07809,4.003707 2.14484,5.195124 5.2651,5.880449 6.91359,1.518482 10.70498,5.557534 10.70498,11.404282 0,4.359246 0.60994,5.517736 3.76377,7.148644 6.70409,3.466823 8.888,8.469764 6.83729,15.663087 -0.83133,2.91611 -0.30274,4.210124 2.99559,7.333333 5.71687,5.413326 6.78409,8.966803 4.40389,14.663415 -1.83658,4.395588 -1.78705,5.01715 0.67543,8.47538 3.43403,4.82265 3.37099,9.90642 -0.18475,14.89998 -2.50229,3.51415 -2.6617,4.59347 -1.33333,9.02719 2.36152,7.88205 1.84464,11.23909 -2.34915,15.25699 -3.31582,3.17677 -3.76008,4.42565 -3.16154,8.88798 0.84572,6.30538 -1.71734,10.7919 -7.54392,13.20535 -3.54882,1.46997 -4.10328,2.37416 -4.10328,6.6914 0,6.19279 -3.81224,11.30924 -9.93112,13.32865 -3.42066,1.12892 -4.7701,2.47806 -5.41486,5.41362 C 180.81327,196.06984 175.4441,200 169.31528,200 c -4.31724,0 -5.22142,0.55447 -6.6914,4.10328 -2.31304,5.5842 -6.71737,8.19016 -13.0673,7.73168 -4.30831,-0.31106 -6.12519,0.38804 -10.11704,3.89294 -5.69422,4.9996 -5.06222,4.89837 -12.94515,2.07322 -5.92456,-2.12329 -6.32589,-2.1055 -10,0.44311 -6.19484,4.29717 -8.04174,4.45193 -14.17983,1.18828 z m 17.6369,-5.60835 c 8.21554,-6.17573 8.21582,-6.17582 16.46545,-5.3098 4.53736,0.47632 10.50803,1.22207 13.26812,1.6572 6.23824,0.98346 8.06365,-0.43832 12.9568,-10.09178 5.1344,-10.12944 8.41688,-12.68114 19.83416,-15.41847 8.97599,-2.15201 9.96711,-2.72944 11.66667,-6.79707 C 195.1642,175.41935 196,169.43971 196,164.57616 c 0,-9.62696 0.25139,-10.02062 13.70512,-21.46238 6.03776,-5.13482 6.14668,-7.29992 0.96155,-19.11378 -2.2,-5.0125 -4,-9.8125 -4,-10.66666 0,-0.85417 1.8,-5.65417 4,-10.66667 5.41155,-12.329703 5.21467,-14.860954 -1.65943,-21.335878 -3.11269,-2.931935 -6.1215,-5.330791 -6.68626,-5.330791 -0.56476,0 -2.21578,-1.95 -3.66892,-4.333333 -2.00528,-3.288888 -2.64822,-6.743594 -2.66748,-14.333334 -0.014,-5.5 -0.46622,-10.660177 -1.00499,-11.467061 -1.55797,-2.333276 -6.24681,-4.403938 -13.48976,-5.957272 -9.05256,-1.941426 -12.88913,-5.297174 -17.70189,-15.483394 -5.08872,-10.770307 -7.43011,-11.852443 -19.5561,-9.038365 -10.9866,2.549665 -13.38969,1.975085 -22.86113,-5.4660985 -9.75345,-7.6627452 -12.7248,-7.6350024 -23.169378,0.2163275 -8.900315,6.690487 -8.295749,6.611861 -28.601243,3.719676 -7.061441,-1.005786 -9.938368,1.196884 -14.24436,10.905955 C 51.519782,33.412323 47.041493,36.863081 37.119433,38.815126 25.247648,41.150758 23.706899,42.911303 23.158571,54.767597 22.497766,69.055936 22.13967,69.856238 13.2995,76.801469 3.6104381,84.413629 2.6063298,87.371156 6.6077133,96.511635 c 6.1571597,14.064985 6.1758247,14.351105 1.577166,24.178215 -6.0677366,12.96646 -5.7276177,15.12829 3.6834297,23.41223 4.32757,3.80928 8.52757,8.3729 9.333334,10.14135 0.805763,1.76847 1.465024,7.6436 1.465024,13.05587 0,8.98029 0.299585,10.07614 3.427173,12.5363 1.884946,1.4827 6.100847,3.09676 9.36867,3.5868 8.982573,1.34702 13.932739,5.39308 18.986219,15.51856 5.474189,10.96843 7.886569,12.0703 20.409769,9.3223 4.887218,-1.07242 10.293373,-1.58775 12.013677,-1.14519 1.720305,0.44256 6.423572,3.52204 10.451704,6.84329 9.385211,7.73824 12.173431,7.72134 22.627581,-0.1372 z m -26.073008,2.32372 c 2.29538,-0.90009 2.108853,-1.30866 -1.900941,-4.16389 -4.14994,-2.95501 -12.255802,-4.15013 -14.297875,-2.10807 -0.440693,0.4407 0.605693,2.2989 2.325304,4.12934 3.184759,3.39002 8.571077,4.22189 13.873512,2.14262 z m 44.973848,-1.45412 c 2.68637,-2.25273 2.85458,-2.83597 1.1477,-3.97958 -2.92957,-1.96283 -8.90367,-1.67151 -13.39954,0.6534 -4.72308,2.4424 -4.84067,3.0205 -0.93379,4.59088 4.96627,1.99618 9.85631,1.52716 13.18563,-1.2647 z M 52.000001,197.87239 c 0,-2.28405 -4.850054,-8.49832 -7.616432,-9.75877 -5.608003,-2.55518 -7.170058,-1.93571 -5.591096,2.21728 2.124122,5.58686 5.22866,8.33577 9.414178,8.33577 2.086342,0 3.79335,-0.35743 3.79335,-0.79428 z m 123.123579,-0.68608 c 2.9416,-1.34029 6.20976,-6.15901 6.20976,-9.15597 0,-1.1069 -4.20447,-0.24472 -9.71599,1.99237 -1.31045,0.53191 -3.27585,2.6944 -4.36757,4.80553 -1.92911,3.73048 -1.89199,3.83843 1.31992,3.83843 1.81765,0 4.7669,-0.66616 6.55388,-1.48036 z M 17.679326,152.19434 C 13.550788,146.6646 12,147.1009 12,153.79212 c 0,4.97003 0.636667,6.51727 3.666667,8.91082 l 3.666667,2.89648 0.427118,-5.02279 c 0.286412,-3.36809 -0.399186,-6.12952 -2.081126,-8.38229 z m 189.214374,5.83985 c 0.79461,-1.74399 1.02016,-4.86257 0.50121,-6.9302 l -0.94352,-3.75932 -4.55903,4.97475 c -3.09932,3.38194 -4.55902,6.2727 -4.55902,9.02857 v 4.05383 l 4.0578,-2.09838 c 2.2318,-1.1541 4.70794,-3.52526 5.50256,-5.26925 z M 9.2860863,111.10905 c 0.098346,-8.79296 -2.6287115,-10.87037 -5.9185128,-4.5086 -2.6094727,5.04617 -2.56910201,8.04258 0.16087,11.94016 l 2.1951102,3.13396 1.7576427,-3.17062 c 0.9667035,-1.74384 1.7789039,-5.07154 1.8048899,-7.3949 z m 205.7597737,6.3519 c 2.86678,-4.85309 2.89105,-8.00587 0.0924,-12.00156 l -2.19512,-3.13396 -1.75764,3.17062 c -2.64371,4.76894 -2.17567,15.83729 0.66968,15.83729 0.49676,0 1.93257,-1.74258 3.19068,-3.87239 z m -8.37919,-47.409009 c 0,-4.401868 -0.75855,-6.654759 -2.91808,-8.666667 -4.14784,-3.8643 -5.08192,-3.416752 -5.08192,2.434915 0,4.994989 3.98972,12.179812 6.76344,12.179812 0.68011,0 1.23656,-2.676627 1.23656,-5.94806 z M 17.153716,71.524529 c 3.160352,-3.364041 5.494882,-12.857861 3.161748,-12.857861 -2.802788,0 -9.648797,7.79009 -9.648797,10.97939 0,5.810078 2.196077,6.446 6.487049,1.878471 z M 48.307222,32.388635 c 1.433544,-1.297339 3.171979,-3.415511 3.863189,-4.707049 1.086219,-2.029618 0.637204,-2.348252 -3.30912,-2.348252 -5.418905,0 -9.753168,3.280997 -10.935018,8.277709 -0.83382,3.525278 -0.751635,3.581656 3.460201,2.373718 2.372868,-0.68053 5.487205,-2.298787 6.920748,-3.596126 z m 130.992288,-0.0085 c -2.09443,-5.012679 -4.02332,-6.989164 -6.85712,-7.02631 -0.85669,-0.0112 -2.50669,-0.38461 -3.66667,-0.829736 -1.41557,-0.543245 -2.10905,-0.06099 -2.10905,1.466626 0,3.219034 8.51173,11.342652 11.88456,11.342652 2.73401,0 2.75629,-0.147433 0.74828,-4.953274 z M 92.596816,12.058389 96.526964,9.467682 92.843349,8.0671744 C 87.691953,6.1086172 83.754251,6.3204929 80.296676,8.7422721 c -3.566013,2.4977329 -3.778087,4.1826149 -0.630008,5.0052939 5.064387,1.323464 9.174459,0.786529 12.930148,-1.689177 z m 48.736524,1.507363 c 0,-1.692594 -5.67819,-6.5022704 -8.66667,-7.341043 C 131.2,5.8130609 128.2,6.2491704 126,7.1938398 l -4,1.7175818 4.66667,2.8726384 c 4.52992,2.788462 14.66667,4.019864 14.66667,1.781692 z', inkscape:connector-curvature='0', sodipodi:nodetypes='scscscscscssssssssssssscssssscsssssscssscccsccccssscsccsscscssccssssssssccsssssssssssssscsssssssccccscccsccssssscsccsccsscsccccsscccssscssccccscssssssssssssssscccssccscssssssscss')
                                    path(class="svg__inner", d='m 90.11072,142.03356 c 1.163889,-4.6373 -5.039951,-10.64164 -12.173892,-11.7824 l -5.379708,-0.86025 0.251254,-6.3165 c 0.213311,-5.36258 0.732074,-6.47678 3.435028,-7.37776 1.825418,-0.60848 3.865957,-2.86857 4.782707,-5.29732 1.414819,-3.74829 1.222876,-4.87776 -1.666913,-9.80882 -1.796216,-3.065007 -2.886851,-5.951741 -2.423632,-6.414959 1.791512,-1.791514 17.150916,-0.832998 20.134067,1.256482 1.947145,1.363835 7.726459,1.286984 10.198439,0.744044 3.10743,-0.682505 0.54804,-1.192985 1.18272,-5.10406 1.178,-7.259176 5.48566,-11.072016 12.5089,-11.072016 7.60721,0 12.37365,4.376123 12.37365,11.360383 0,2.648211 -1.92573,6.69285 -2.7219,8.180495 -2.44039,1.376481 0.36231,2.614131 2.58081,4.975611 1.51474,1.61236 3.42483,4.85575 4.24467,7.20754 1.68355,4.8294 4.59379,5.9027 3.42978,1.26489 -1.04415,-4.16019 0.83186,-6.64083 4.61742,-6.10557 2.65986,0.37608 3.15026,1.16168 2.98595,4.78332 -0.13227,2.91542 0.41308,4.33333 1.66667,4.33333 1.0248,0 1.86326,0.6 1.86326,1.33334 0,1.65359 -0.31742,1.65358 -4.66717,-2e-4 -4.76784,-1.81273 -8.10627,0.2007 -9.17252,5.53202 -0.47225,2.36126 -1.83901,5.37649 -3.03724,6.70051 -1.19821,1.32402 -2.46743,5.4134 -2.82047,9.08749 l -0.64188,6.68018 h -6.40717 c -5.23617,0 -6.56187,-0.48738 -7.25355,-2.66667 C 117.31206,140.49915 115.98262,140 110.89755,140 c -4.81208,0 -6.64048,0.61551 -7.92145,2.66667 -1.2655,2.02639 -3.109372,2.66667 -7.679467,2.66667 -5.732942,0 -5.975385,-0.15427 -5.185913,-3.29978 z m 11.39204,-1.52021 c 3.52204,-3.18741 16.94144,-3.32208 17.93736,-0.18001 0.53925,1.70129 2.15991,2.33333 5.98307,2.33333 h 5.24348 v -5.83675 c 0,-3.47001 0.78331,-6.48683 1.9318,-7.43998 1.06248,-0.88179 2.62524,-3.70439 3.47277,-6.27246 2.40303,-7.28126 -1.31234,-15.59627 -9.23156,-20.66023 C 121.15733,98.823657 119.81883,98.535241 110,98.828664 102.10516,99.064592 98.224487,98.565243 95.066215,96.907047 90.74142,94.636387 80.000001,93.788716 80.000001,95.718079 c 0,0.578276 1.173746,3.353642 2.608322,6.167481 2.591114,5.08232 2.590936,5.15015 -0.02709,10.28192 -1.720164,3.3718 -3.552126,5.16586 -5.274993,5.16586 -2.176087,0 -2.639568,0.90655 -2.639568,5.16292 0,5.0068 0.164022,5.18915 5.424232,6.03029 6.434897,1.02898 11.909101,5.96863 11.909101,10.74619 0,2.78933 0.634483,3.39393 3.561679,3.39393 1.958924,0 4.632406,-0.969 5.941076,-2.15332 z m 45.83058,-29.86494 c 0,-2.85801 -3.87423,-2.44521 -4.43616,0.47268 -0.34315,1.78186 0.19988,2.32489 1.98174,1.98174 1.34992,-0.25998 2.45442,-1.36446 2.45442,-2.45442 z m -17.1894,-12.981742 c 4.51576,-5.948772 -1.38278,-16.333333 -9.2775,-16.333333 -4.97047,0 -10.19977,5.4376 -10.19977,10.60606 0,3.52262 0.48579,4.070577 3.66667,4.135862 2.01666,0.04139 5.76666,0.869806 8.33333,1.84092 2.56667,0.971116 4.90052,1.837251 5.18634,1.924744 0.28582,0.08749 1.31674,-0.89092 2.29093,-2.174253 z', inkscape:connector-curvature='0', sodipodi:nodetypes='sscscsccscssscccccssscccccscssssccscsccssssscssssscsccsssssscs')
                            span.advantages__item-name Save Money
                            p.advantages__item-description We make sure you find the best quotes

                    .col-4
                        .advantages__item
                            svg(xmlns:dc='http://purl.org/dc/elements/1.1/', xmlns:cc='http://creativecommons.org/ns#', xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#', xmlns:svg='http://www.w3.org/2000/svg', xmlns='http://www.w3.org/2000/svg', xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd', xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape', version='1.1', viewbox='0 0 223.87546 219.36794', sodipodi:docname='prifile_ic.svg', inkscape:version='0.92.1 r15371' class="svg__wrap")
                                g(transform='translate(0.003219,-0.99483665)')
                                    path(class="svg__outer", d='m 103.64789,218.09917 c -5.340457,-2.83955 -6.133125,-2.93543 -9.534537,-1.15324 -4.83468,2.53315 -9.54467,1.27819 -14.297202,-3.80941 -3.373053,-3.61087 -4.340415,-3.94902 -9.030457,-3.15663 -6.32173,1.06804 -10.015779,-0.64941 -13.413312,-6.23621 -1.946023,-3.19998 -3.521232,-4.14904 -7.263449,-4.37624 -5.999763,-0.36427 -9.730947,-3.67875 -11.48838,-10.20536 -1.169158,-4.34192 -2.107383,-5.28015 -6.449304,-6.44931 -6.574959,-1.77044 -9.299436,-4.90701 -9.722803,-11.1934 -0.265089,-3.93621 -1.122785,-5.47769 -3.825517,-6.87532 -6.481982,-3.35197 -8.577685,-8.43271 -6.493213,-15.74188 0.928402,-3.25543 0.47037,-4.29411 -3.3871337,-7.68104 -5.5566415,-4.8788 -6.7851617,-9.31536 -4.0461744,-14.61198 1.9511309,-3.77307 1.9097648,-4.28245 -0.6383762,-7.86099 -3.62778419,-5.09475 -3.43871192,-10.59563 0.550011,-16.00203 3.0402168,-4.120786 3.1356929,-4.707451 1.3333333,-8.192831 -3.0679011,-5.932667 -2.4348557,-10.91494 1.9165469,-15.083848 3.3158301,-3.176767 3.7600721,-4.425655 3.1615491,-8.887983 -0.845728,-6.305372 1.717322,-10.791902 7.54391,-13.205354 3.253102,-1.347479 4.103284,-2.503776 4.103284,-5.5807 0,-7.575759 3.315882,-12.816737 9.229999,-14.588649 2.990168,-0.895876 5.436668,-2.405662 5.436668,-3.355079 0,-6.461421 5.900956,-11.18502 13.972886,-11.18502 3.27836,0 4.736217,-0.699896 5.325551,-2.556717 0.446308,-1.406195 2.030289,-4.106195 3.519956,-6 2.272724,-2.8893 3.790813,-3.443282 9.435693,-3.443282 5.573396,0 7.508581,-0.6860565 11.282954,-4.0000004 5.278078,-4.634213 5.592314,-4.6835742 12.172451,-1.9120909 4.792811,2.0186807 5.182248,1.9667662 11.745326,-1.5657311 l 6.45642,-2.19400795 6.21025,1.80776015 c 5.84363,1.7010391 6.23642,3.0942327 9.64348,1.4458601 4.91137,-2.3761721 9.72042,-1.0813728 14.3363,3.8599444 3.29908,3.5316747 4.27546,3.8628697 9.10933,3.0899027 6.16961,-0.98656 11.2992,1.53544 13.65953,6.715804 1.02951,2.2595 2.85871,3.299993 6.70944,3.816485 6.60232,0.885557 10.04315,3.916665 11.78368,10.380543 1.0781,4.003706 2.14484,5.195123 5.26511,5.880449 6.91359,1.518481 10.70497,5.557533 10.70497,11.404281 0,4.359247 0.60995,5.517736 3.76378,7.148644 6.70409,3.466822 8.888,8.469764 6.83729,15.663086 -0.83133,2.916111 -0.30275,4.210124 2.99559,7.333333 5.71686,5.413326 6.78409,8.966803 4.40389,14.663415 -1.83659,4.395588 -1.78705,5.017149 0.67543,8.475386 3.43402,4.82264 3.37098,9.90641 -0.18475,14.89998 -2.50229,3.51415 -2.66171,4.59346 -1.33333,9.02719 2.36152,7.88204 1.84464,11.23908 -2.34915,15.25698 -3.31583,3.17677 -3.76008,4.42565 -3.16155,8.88798 0.84572,6.30538 -1.71733,10.7919 -7.54392,13.20535 -3.54881,1.46997 -4.10328,2.37416 -4.10328,6.6914 0,6.19279 -3.81224,11.30924 -9.93112,13.32865 -3.42065,1.12892 -4.77009,2.47806 -5.41485,5.41362 -1.17409,5.34562 -6.54327,9.27578 -12.67208,9.27578 -4.31724,0 -5.22143,0.55447 -6.6914,4.10328 -2.31304,5.5842 -6.71737,8.19016 -13.06731,7.73168 -4.3083,-0.31106 -6.12518,0.38804 -10.11704,3.89294 -5.69421,4.9996 -5.06221,4.89837 -12.94514,2.07322 -5.92456,-2.12329 -6.32589,-2.1055 -10,0.44311 -6.19484,4.29717 -8.04173,4.45193 -14.17983,1.18828 z m 17.6369,-5.60835 c 8.21554,-6.17573 8.21582,-6.17582 16.46545,-5.3098 4.53736,0.47632 10.50802,1.22207 13.26812,1.6572 6.23824,0.98346 8.06365,-0.43832 12.9568,-10.09178 5.1344,-10.12944 8.41688,-12.68114 19.83416,-15.41847 8.97598,-2.15201 9.9671,-2.72944 11.66666,-6.79707 1.02155,-2.44489 1.85735,-8.42453 1.85735,-13.28808 0,-9.62696 0.25139,-10.02062 13.70512,-21.46238 6.03776,-5.13482 6.14668,-7.29992 0.96155,-19.11378 -2.2,-5.0125 -4,-9.8125 -4,-10.66666 0,-0.85417 1.8,-5.65417 4,-10.66667 5.41154,-12.329699 5.21466,-14.86095 -1.65943,-21.335874 -3.11269,-2.931934 -6.12151,-5.33079 -6.68627,-5.33079 -0.56476,0 -2.21577,-1.95 -3.66892,-4.333334 -2.00528,-3.288888 -2.64821,-6.743593 -2.66748,-14.333333 -0.014,-5.5 -0.46621,-10.660177 -1.00498,-11.467061 -1.55798,-2.333276 -6.24682,-4.403937 -13.48976,-5.957272 -9.05256,-1.941425 -12.88914,-5.297173 -17.7019,-15.483393 -5.08872,-10.770306 -7.4301,-11.852443 -19.55609,-9.038365 -10.9866,2.549665 -13.38969,1.975085 -22.86113,-5.4660981 C 112.95059,0.92506497 109.97924,0.95280777 99.534663,8.8041369 90.634348,15.494624 91.238913,15.415998 70.93342,12.523813 63.871979,11.518027 60.995052,13.720697 56.68906,23.429768 52.853114,32.078989 48.374825,35.529746 38.452765,37.481791 26.580981,39.817423 25.040232,41.577969 24.491904,53.434262 23.831098,67.7226 23.473002,68.522903 14.632833,75.468134 4.9437713,83.080293 3.939663,86.03782 7.9410464,95.178299 c 6.1571596,14.064981 6.1758236,14.351111 1.577166,24.178211 -6.0677365,12.96646 -5.7276175,15.12829 3.6834296,23.41223 4.32757,3.80928 8.52757,8.3729 9.333334,10.14135 C 23.340738,154.67856 24,160.55369 24,165.96596 c 0,8.98029 0.299585,10.07614 3.427173,12.5363 1.884945,1.4827 6.100846,3.09676 9.368669,3.5868 8.982573,1.34702 13.932739,5.39308 18.986218,15.51856 5.47419,10.96843 7.88657,12.0703 20.40977,9.3223 4.887217,-1.07242 10.293371,-1.58775 12.013675,-1.14519 1.720306,0.44256 6.423572,3.52204 10.451704,6.84329 9.385211,7.73824 12.173431,7.72134 22.627581,-0.1372 z m -26.073007,2.32372 c 2.29538,-0.90009 2.108853,-1.30866 -1.900942,-4.16389 -4.14994,-2.95501 -12.255801,-4.15013 -14.297874,-2.10807 -0.440694,0.4407 0.605693,2.2989 2.325304,4.12934 3.184758,3.39002 8.571077,4.22189 13.873512,2.14262 z m 44.973837,-1.45412 c 2.68638,-2.25273 2.85459,-2.83597 1.14771,-3.97958 -2.92957,-1.96283 -8.90367,-1.67151 -13.39955,0.6534 -4.72307,2.4424 -4.84066,3.0205 -0.93378,4.59088 4.96626,1.99618 9.8563,1.52716 13.18562,-1.2647 z M 53.333333,196.53905 c 0,-2.28405 -4.850054,-8.49832 -7.616432,-9.75877 -5.608003,-2.55518 -7.170058,-1.93571 -5.591096,2.21728 2.124122,5.58686 5.22866,8.33577 9.414178,8.33577 2.086342,0 3.79335,-0.35743 3.79335,-0.79428 z M 176.4569,195.85297 c 2.9416,-1.34029 6.20976,-6.15901 6.20976,-9.15597 0,-1.1069 -4.20446,-0.24472 -9.71598,1.99237 -1.31046,0.53191 -3.27586,2.6944 -4.36758,4.80553 -1.9291,3.73048 -1.89198,3.83843 1.31992,3.83843 1.81766,0 4.76691,-0.66616 6.55388,-1.48036 z M 19.012658,150.861 c -4.128537,-5.52974 -5.679325,-5.09344 -5.679325,1.59778 0,4.97003 0.636667,6.51727 3.666667,8.91082 l 3.666666,2.89648 0.427119,-5.02279 c 0.286412,-3.36809 -0.399187,-6.12952 -2.081127,-8.38229 z m 189.214362,5.83985 c 0.79462,-1.74399 1.02016,-4.86257 0.50122,-6.9302 l -0.94352,-3.75932 -4.55903,4.97475 c -3.09932,3.38194 -4.55903,6.2727 -4.55903,9.02857 v 4.05383 l 4.0578,-2.09838 c 2.2318,-1.1541 4.70795,-3.52526 5.50256,-5.26925 z M 10.619419,109.77571 c 0.09835,-8.79295 -2.6287111,-10.870365 -5.9185123,-4.50859 -2.6094726,5.04616 -2.5691019,8.04257 0.16087,11.94015 l 2.1951101,3.13396 1.7576427,-3.17061 c 0.9667034,-1.74384 1.7789035,-5.07155 1.8048895,-7.39491 z m 205.759761,6.3519 c 2.86679,-4.85309 2.89106,-8.00587 0.0924,-12.00155 l -2.19512,-3.13396 -1.75764,3.17061 C 209.87512,108.93166 210.34316,120 213.1885,120 c 0.49676,0 1.93258,-1.74258 3.19068,-3.87239 z M 208,68.718606 c 0,-4.401868 -0.75855,-6.654759 -2.91808,-8.666667 C 200.93408,56.187639 200,56.635187 200,62.486854 c 0,4.994989 3.98972,12.179812 6.76344,12.179812 0.6801,0 1.23656,-2.676627 1.23656,-5.94806 z M 18.487049,70.191194 C 21.647401,66.827152 23.98193,57.333332 21.648797,57.333332 18.846009,57.333332 12,65.123423 12,68.312723 c 0,5.810077 2.196077,6.446 6.487049,1.878471 z M 49.640554,31.055301 C 51.074098,29.757962 52.812533,27.63979 53.503743,26.348252 54.589962,24.318634 54.140947,24 50.194623,24 c -5.418905,0 -9.753168,3.280997 -10.935018,8.277709 -0.83382,3.525277 -0.751635,3.581656 3.460201,2.373717 2.372868,-0.680529 5.487205,-2.298786 6.920748,-3.596125 z m 130.992286,-0.0085 c -2.09443,-5.012679 -4.02332,-6.989164 -6.85712,-7.02631 -0.8567,-0.0112 -2.5067,-0.38461 -3.66667,-0.829736 C 168.69348,22.647477 168,23.129737 168,24.657348 c 0,3.219034 8.51173,11.342651 11.88456,11.342651 2.73401,0 2.75629,-0.147433 0.74828,-4.953273 z M 93.930147,10.725055 97.860295,8.1343484 94.17668,6.7338408 C 89.025284,4.7752837 85.087581,4.9871594 81.630007,7.4089386 78.063993,9.9066717 77.85192,11.591553 80.999999,12.414232 c 5.064386,1.323464 9.174458,0.786529 12.930148,-1.689177 z m 48.736513,1.507363 c 0,-1.692594 -5.67818,-6.50227 -8.66666,-7.3410425 -1.46667,-0.4116481 -4.46667,0.024461 -6.66667,0.9691308 l -4,1.7175817 L 128,10.450727 c 4.52992,2.788461 14.66666,4.019863 14.66666,1.781691 z', inkscape:connector-curvature='0', sodipodi:nodetypes='ccscscscscsssccsssssssscssssscsssscscssscccssscccsccscccscccsscccssssscssccssssssssssssscsssssssccccscccsccssssscsccsccsscsccccsscccsssccsccccscssssssssssssssscccssccscssssssscss')
                                    path(class="svg__inner", d='m 114.20601,121.66666 c -0.33992,-0.55 5.26738,-1 12.46065,-1 7.19328,0 12.80058,0.45 12.46066,1 -0.33992,0.55 -5.94721,1 -12.46066,1 -6.51344,0 -12.12073,-0.45 -12.46065,-1 z m 0,-19.33333 c 0.33992,-0.55 5.94721,-1 12.46065,-1 6.51345,0 12.12074,0.45 12.46066,1 -8.06754,1.00613 -17.25917,2.55104 -24.92131,0 z', inkscape:connector-curvature='0', sodipodi:nodetypes='ssssscscc')
                                    path(class="svg__inner", d='m 91.37038,137.4303 -10.703715,-0.19438 0.38641,-26.54456 0.386409,-26.544555 17.282592,-0.406736 17.282594,-0.406737 -0.002,4.333333 -0.002,4.333334 h 15.33333 15.33333 v 22.666661 22.66667 H 137.334 c -11.41519,0 -11.17652,0.0843 -11.26292,-3.97551 -0.0437,-2.0522 -0.95657,-3.48187 -2.40375,-3.76443 -1.84554,-0.36035 -2.33333,0.47075 -2.33333,3.97551 V 138 h -14.66733 v -4.33334 c 0,-3.39949 -0.55733,-4.33333 -2.58618,-4.33333 -1.94397,0 -2.68895,1.07608 -3,4.33333 l 0.008,3.91111 z m 9.29662,-4.25251 c 0.33137,-2.87996 0.78637,-4.60165 3.66633,-4.93302 3.29456,-0.37908 3.66667,-0.007 3.66667,3.66667 0,3.95681 0.19334,4.08856 6,4.08856 5.80666,0 6,-0.13174 6,-4.08856 0,-3.67364 0.37211,-4.04575 3.66666,-3.66667 2.87996,0.33137 3.75719,1.2086 4.08857,4.08856 0.4115,3.57633 0.63323,3.66667 8.99999,3.66667 h 8.57811 V 114.66666 93.333332 H 130 114.66666 v -4 -4 h -15.999995 -16 V 110.66667 136 h 8.578104 c 8.976651,0 9.057641,0.0503 9.422231,-2.82221 z M 90.222221,120.44444 c -1.91072,-1.91072 -0.866513,-8.27184 1.48012,-9.01664 1.848028,-0.58654 2.262491,-1.86883 1.884651,-5.83085 -0.32612,-3.41969 0.185793,-5.635146 1.566939,-6.781395 2.826268,-2.345594 6.732969,-1.334731 7.213199,1.866425 0.36418,2.42755 -0.35788,2.7476 -1.05094,0.31802 -3.410627,-5.493308 -7.653266,-0.60532 -6.00163,6.91453 0.694049,3.15999 0.337535,4.01619 -1.978368,4.75123 -1.940492,0.61588 -2.69628,1.80004 -2.413921,3.78209 0.353061,2.47835 1.400842,2.94242 7.42597,3.28901 5.631669,0.32396 7.187689,-0.0467 7.891129,-1.87986 0.59398,-1.54789 -0.25262,-3.1835 -2.62826,-5.07778 -2.50061,-1.99391 -3.16302,-3.34687 -2.31244,-4.72313 0.65562,-1.06083 1.42536,-2.67605 0.99377,-3.37437 -0.0844,-1.19843 -0.81119,-4.54725 0.0747,-3.99974 0.87647,0.54169 1.3881,5.98873 0.95636,7.34902 -0.52732,1.66144 0.11135,2.95296 1.94576,3.9347 3.03944,1.62666 3.57725,5.32113 1.13075,7.76763 -1.67682,1.67682 -14.642171,2.24672 -16.177779,0.71111 z m 30.111109,-0.0912 c -239.60593,68.82132 -119.80296667,34.41066 0,0 z m -5.66667,-8.01995 c 0,-0.55 5.4,-1 12,-1 6.6,0 12,0.45 12,1 0,0.55 -5.4,1 -12,1 -6.6,0 -12,-0.45 -12,-1 z', inkscape:connector-curvature='0', sodipodi:nodetypes='ccccccccccccsccsccsscccccsssccscccccccccccscscssccscsscccccscssccsssss')

                            span.advantages__item-name Personalized Service
                            p.advantages__item-description We tailor quotes to your needs just tell us what you want


        section#personal-plan.personal-plan
            .container
                .row
                    .col-12
                        .default__title
                            h2 Create a Personal Plan
                                br
                                | to Share & Ensure Your Plan is Perfect
                .row
                    .col-4
                        .personal-plan__item
                            .personal-plan__icon-wrap
                                svg#Capa_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='85px', height='63px', viewbox='0 0 44.688 44.688', style='enable-background:new 0 0 44.688 44.688;', xml:space='preserve')
                                    path(d='M25.013,39.119c-0.336,0.475-0.828,0.82-1.389,0.975l-2.79,0.762c-0.219,0.062-0.445,0.094-0.673,0.094\
                                      c-0.514,0-1.011-0.157-1.43-0.452c-0.615-0.428-1.001-1.103-1.062-1.834l-0.245-2.881c-0.058-0.591,0.101-1.183,0.437-1.659\
                                      l0.103-0.148H8.012c-0.803,0-1.454-0.662-1.454-1.463c0-0.804,0.651-1.466,1.454-1.466h12.046l2.692-3.845H8.012\
                                      c-0.803,0-1.454-0.662-1.454-1.465s0.651-1.465,1.454-1.465l16.811-0.043l6.304-9.039V8.497c0-1.1-0.851-1.988-1.948-1.988h-4.826\
                                      v3.819c0,1.803-1.474,3.229-3.274,3.229h-9.706c-1.804,0-3.227-1.427-3.227-3.229V6.509H3.268c-1.099,0-1.988,0.889-1.988,1.988\
                                      V42.65c0,1.1,0.89,2.037,1.988,2.037h25.909c1.1,0,1.949-0.938,1.949-2.037V30.438L25.013,39.119z M8.012,17.496h16.424\
                                      c0.801,0,1.453,0.661,1.453,1.464c0,0.803-0.652,1.465-1.453,1.465H8.012c-0.803,0-1.454-0.662-1.454-1.465\
                                      C6.558,18.157,7.209,17.496,8.012,17.496z')
                                    path(d='M11.4,11.636h9.697c0.734,0,1.331-0.596,1.331-1.332V4.727c0-0.736-0.597-1.332-1.331-1.332h-1.461\
                                      C19.626,1.52,18.102,0,16.223,0c-1.88,0-3.402,1.519-3.413,3.395H11.4c-0.736,0-1.331,0.596-1.331,1.332v5.576\
                                      C10.069,11.039,10.664,11.636,11.4,11.636z M16.224,1.891c0.835,0,1.512,0.672,1.521,1.505H14.7\
                                      C14.71,2.563,15.388,1.891,16.224,1.891z')
                                    path(d='M43.394,8.978c-0.045-0.248-0.186-0.465-0.392-0.609l-2.428-1.692c-0.164-0.115-0.353-0.17-0.539-0.17\
                                      c-0.296,0-0.591,0.14-0.772,0.403L22.064,31.573l3.973,2.771L43.238,9.682C43.38,9.477,43.437,9.224,43.394,8.978z')
                                    path(d='M19.355,35.6l0.249,2.896c0.012,0.167,0.101,0.316,0.236,0.412c0.096,0.066,0.209,0.104,0.321,0.104\
                                      c0.049,0,0.099-0.007,0.147-0.021l2.805-0.768c0.127-0.035,0.237-0.113,0.313-0.22l1.053-1.51l-3.976-2.772l-1.053,1.51\
                                      C19.376,35.338,19.341,35.469,19.355,35.6z')

                            span.personal-plan__name Answer the questions
                            p.personal-plan__info Use our template to make sure all your wishes are captured in one place

                    .col-4
                        .personal-plan__item
                            .personal-plan__icon-wrap
                                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 14 14', style='enable-background:new 0 0 14 14;', xml:space='preserve' , width='75px', height='75px')
                                    path(d='M7,9L5.268,7.484l-4.952,4.245C0.496,11.896,0.739,12,1.007,12h11.986\
                                      c0.267,0,0.509-0.104,0.688-0.271L8.732,7.484L7,9z')
                                    path(d='M13.684,2.271C13.504,2.103,13.262,2,12.993,2H1.007C0.74,2,0.498,2.104,0.318,2.273L7,8\
                                      L13.684,2.271z')
                                    polygon(points='0,2.878 0,11.186 4.833,7.079')
                                    polygon(points='9.167,7.079 14,11.186 14,2.875')
                            span.personal-plan__name Enter your email address
                            p.personal-plan__info Receive the best quotes, and know your wishes will be followed

                    .col-4
                        .personal-plan__item
                            .personal-plan__icon-wrap
                                svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='80px', height='64px', viewbox='0 0 79.536 79.536', style='enable-background:new 0 0 79.536 79.536;', xml:space='preserve')
                                    path(d='M39.773,1.31L0,31.004v47.222h79.536V31.004L39.773,1.31z M28.77,22.499\
                                    c1.167-2.133,2.775-3.739,4.815-4.805c2.035-1.075,4.357-1.616,6.983-1.616c2.214,0,4.191,0.435,5.921,1.292\
                                    c1.729,0.87,3.045,2.094,3.967,3.687c0.9,1.595,1.367,3.334,1.367,5.217c0,2.247-0.694,4.279-2.082,6.097\
                                    c-1.74,2.292-3.961,3.436-6.68,3.436c-0.732,0-1.279-0.122-1.654-0.38c-0.365-0.262-0.621-0.632-0.743-1.129\
                                    c-1.022,1.012-2.231,1.52-3.589,1.52c-1.465,0-2.679-0.507-3.643-1.509c-0.966-1.012-1.447-2.361-1.447-4.031\
                                    c0-2.084,0.578-3.966,1.743-5.672c1.416-2.084,3.218-3.13,5.424-3.13c1.571,0,2.731,0.601,3.475,1.805l0.331-1.468h3.5\
                                    l-1.998,9.479c-0.125,0.606-0.187,0.986-0.187,1.163c0,0.228,0.052,0.38,0.149,0.497c0.099,0.111,0.223,0.165,0.357,0.165\
                                    c0.436,0,0.979-0.248,1.646-0.769c0.901-0.663,1.627-1.574,2.181-2.695c0.554-1.129,0.839-2.299,0.839-3.508\
                                    c0-2.165-0.782-3.977-2.352-5.445c-1.573-1.45-3.77-2.185-6.578-2.185c-2.393,0-4.417,0.487-6.077,1.468\
                                    c-1.66,0.966-2.913,2.343-3.765,4.114c-0.839,1.76-1.258,3.607-1.258,5.52c0,1.856,0.479,3.552,1.411,5.074\
                                    c0.945,1.533,2.26,2.641,3.956,3.345c1.696,0.697,3.643,1.046,5.828,1.046c2.097,0,3.909-0.293,5.432-0.881\
                                    c1.522-0.587,2.739-1.457,3.666-2.641h2.807c-0.88,1.792-2.227,3.192-4.049,4.215c-2.092,1.163-4.64,1.74-7.644,1.74\
                                    c-2.918,0-5.426-0.487-7.542-1.468c-2.121-0.986-3.689-2.434-4.73-4.35c-1.028-1.918-1.535-4.008-1.535-6.268\
                                    C27.017,26.952,27.595,24.64,28.77,22.499z M2.804,31.941l29.344,19.68L2.804,74.333V31.941z M5.033,75.844l34.74-26.885\
                                    l34.729,26.885H5.033z M76.729,74.333L47.391,51.621l29.339-19.68V74.333z M41.205,24.661c0.466,0.531,0.699,1.295,0.699,2.292\
                                    c0,0.891-0.174,1.856-0.513,2.879c-0.334,1.036-0.743,1.826-1.209,2.361c-0.318,0.375-0.658,0.652-0.992,0.826\
                                    c-0.439,0.249-0.906,0.37-1.41,0.37c-0.674,0.006-1.23-0.264-1.691-0.794c-0.45-0.531-0.673-1.346-0.673-2.465\
                                    c0-0.839,0.158-1.805,0.487-2.889c0.329-1.088,0.81-1.916,1.453-2.509c0.647-0.588,1.346-0.881,2.1-0.881\
                                    C40.162,23.856,40.749,24.125,41.205,24.661z')
                            span.personal-plan__name Receive the email with funeral plan and quotes
                            p.personal-plan__info Receive the best quotes, and know your wishes will be followed
                    .col-12
                        .personal-plan__btn
                            a(href="#").custom-button Create your FreePlan
        section#reviews.reviews
            .container
                .row
                    .col-12
                        .default__title
                            h2 What People are Saying
                .row
                    .owl-carousel.owl-theme.reviews__slider
                        .col-12
                            .reviews__wrap
                                span.reviews__autor Jude says
                                ul.reviews__rating
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                p.reviews__text I saw you on 5:00 news channel 4 tonight. i just want to say thank you for the information you've provided. I just made my decision as to what i want my family to do with my body when the time comes.))
                        .col-12
                            .reviews__wrap
                                span.reviews__autor Jude says
                                ul.reviews__rating
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                p.reviews__text I saw you on 5:00 news channel 4 tonight. i just want to say thank you for the information you've provided. I just made my decision as to what i want my family to do with my body when the time comes.))


                        .col-12
                            .reviews__wrap
                                span.reviews__autor Jude says
                                ul.reviews__rating
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                p.reviews__text I saw you on 5:00 news channel 4 tonight. i just want to say thank you for the information you've provided. I just made my decision as to what i want my family to do with my body when the time comes.))
                        .col-12
                            .reviews__wrap
                                span.reviews__autor Jude says
                                ul.reviews__rating
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                p.reviews__text I saw you on 5:00 news channel 4 tonight. i just want to say thank you for the information you've provided. I just made my decision as to what i want my family to do with my body when the time comes.))
                        .col-12
                            .reviews__wrap
                                span.reviews__autor Jude says
                                ul.reviews__rating
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                p.reviews__text I saw you on 5:00 news channel 4 tonight. i just want to say thank you for the information you've provided. I just made my decision as to what i want my family to do with my body when the time comes.))
                        .col-12
                            .reviews__wrap
                                span.reviews__autor Jude says
                                ul.reviews__rating
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                p.reviews__text I saw you on 5:00 news channel 4 tonight. i just want to say thank you for the information you've provided. I just made my decision as to what i want my family to do with my body when the time comes.))
                        .col-12
                            .reviews__wrap
                                span.reviews__autor Jude says
                                ul.reviews__rating
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                p.reviews__text I saw you on 5:00 news channel 4 tonight. i just want to say thank you for the information you've provided. I just made my decision as to what i want my family to do with my body when the time comes.))
                        .col-12
                            .reviews__wrap
                                span.reviews__autor Jude says
                                ul.reviews__rating
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                p.reviews__text I saw you on 5:00 news channel 4 tonight. i just want to say thank you for the information you've provided. I just made my decision as to what i want my family to do with my body when the time comes.))
                        .col-12
                            .reviews__wrap
                                span.reviews__autor Jude says
                                ul.reviews__rating
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                    li
                                        i.fa.fa-star
                                p.reviews__text I saw you on 5:00 news channel 4 tonight. i just want to say thank you for the information you've provided. I just made my decision as to what i want my family to do with my body when the time comes.))
        section#future.future
            .container
                .row
                    .col-12
                        .default__title
                            h2 Future Planning Guidance